// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

#wallpaper-switcher {
  .search-entry {
    background: rgba(255, 255, 255, 0.06);
    padding: 8px 12px;
    border-radius: 12px;
    font-size: 13px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    color: #eee;
  }

  .search-entry placeholder {
    color: rgba(255, 255, 255, 0.4);
  }

  .search-entry:focus {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(100, 180, 255, 0.8);
  }

  button {
    background: transparent;
    border-radius: 8px;
    padding: 4px;
  }

  button:hover {
    background: rgba(255, 255, 255, 0.05);
  }

  button:focus {
    background: rgba(61, 174, 233, 0.25);
  }
}
