$accent: #6791c9;
$fg-color: #fff;
$bg-color: #101213;
$inactive-color: #1b1d1e;
$rounded: 14px;
$font-size: 0.8rem;

window.wall-picker {
  background: color-mix(in srgb, var(--bg) 90%, transparent);
  border: 2.5px solid color-mix(in srgb, var(--fg) 20%, transparent);
  color: var(--fg);
  min-width: 400px;
  margin: 10px;
  padding: 20px;
  border-radius: $rounded;

  .wall-picker-bg {
    background: var(--bg);
    border-radius: $rounded;
  }

  .button {
    border-radius: $rounded;
    opacity: 0.6;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  picture {
    border-radius: $rounded;
  }
}
